<h2>Create New Figure</h2>

<form action="/figures" method="POST">
    <label for="name">Name:</label><br>
    <input type="text" id="figure_name" name="figure[name]"><br>

    <h3>Titles</h3>

    <%@titles.each do |title|%>
    <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value = "<%=title.id%>"><%=title.name%><br>
    <%end%>
    <p>Create new title:</p>
    <input type="text" id="new_title" name="title[name]"><br>

    <h3>Landmarks</h3>

    <%@landmarks.each do |landmark|%>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%=landmark.id%>" value = "<%=landmark.id%>"><%=landmark.name%><br>
    <%end%>

    <p>Create new landmark:</p>
    <input type="text" id="new_landmark" name="landmark[name]"><br><br>
    
    <input type="submit" value="Create New Figure">
</form><br>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
